@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --orange: #F07E5F;
    --white: #FFFFFF;
    --brown: #67452D;
    --borderyellow: #f9bd00;
    --backgroundyellow: #FFEA79;
  }

  .window-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--borderyellow);
    padding: 0.5rem;
    height: 40px;
    box-sizing: border-box;
}

.title-text {
    color: var(--brown);
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 10px;
}

.window-controls-right {
    display: flex;
    align-items: center;
}

.window-controls img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 8px;
}

  /* Botón central */
  #startBtn {
    background-color: var(--orange);
    color: var(--white);
    font-family: "Pixelify Sans";
    font-size: 1.5rem;
    border: 2px solid var(--borderyellow);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
  }

  #startBtn:hover {
    background-color: var(--lightorange);
  }
  
  body {
    border: 5px solid var(--borderyellow);
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('images/fondo.png') no-repeat center center fixed;
    background-size: cover;
    font-family: "Pixelify Sans", sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  /* Barra superior */
  .window-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--borderyellow);
    padding: 0.5rem;
    height: 40px;
    border-bottom: none;
    margin: 0;
    box-sizing: border-box;
  }
  
  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .window-bar img {
    cursor: pointer;
    width: 30px;
    margin-left: 10px;
  }
  
  h1 {
    color: var(--brown);
    text-align: center;
    font-size: 2.18281rem;
    font-weight: 400;
    margin: 1rem;
  }
  