body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
  }
  
  button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #ffcc00;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #ffaa00;
  }
  
  img {
    margin-top: 20px;
  }
  